@page "/"
@inject HttpClient Http

<h2>Kunder med rabatt</h2>
    <div>
    <CustomerList  />
    </div>
<h2>Produkter med standard priser</h2>

@if(ProductList.Count == 0)
{
    <p>@message</p>
}
else
{
    @foreach(var product in ProductList)
    {
        <div>
            <p>Produktnamn: @product.ProductName</p>
            <p>Beskrivning: @product.Description</p>
            <p>Standard Pris: @product.StandardPrice SEK</p>
            
        </div>
    }
}


@code {
    public VismaCodingTest.Shared.Customer Customer { get; set; } = new VismaCodingTest.Shared.Customer();
    public List<Product> ProductList { get; set; } = new List<Product>();
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ProductList = await Http.GetFromJsonAsync<List<Product>>("api/product");
        if(ProductList.Count == 0)
        {
            message = "Det finns inga produkter";
        }
    }
}
