@page "/"
@inject HttpClient Http

<h2>Customers with rebate</h2>
    <div>
    <CustomerList  />
    </div>
<h2>Products with standard prices</h2>

@if(ProductList == null)
{
    <p>@message</p>
}
else
{
    @foreach(var product in ProductList)
    {
        <div>
            <p>Title: @product.Title</p>
            <p>Description: @product.Description</p>
            <p>Standard Price: @product.StandardPrice</p>
            
        </div>
    }
}


@code {
    public VismaCodingTest.Shared.Customer Customer { get; set; } = new VismaCodingTest.Shared.Customer();
    public List<Product> ProductList { get; set; } = new List<Product>();
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
       

        ProductList = await Http.GetFromJsonAsync<List<Product>>("api/product");
        if(ProductList.Count == 0)
        {
            message = "Loading...";
        }


    }
}
